body, html {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto; 
  background-color: #0056b3; 
  color: white;
  text-align: center;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
}

.footer-logo img {
  width: 50vw; 
  margin-bottom: 20px; 
}

.footer-info p {
  font-size: 0.9em;
  line-height: 1.6em;
  margin: 5px 0;
}

.contactUs {
  margin-left: 0%;
  padding-left: 0%;
}


/* Responsive adjustments for larger screens */
@media (min-width: 768px) {
  .footer-content {
    flex-direction: row; 
    justify-content: space-around; 
    text-align: left; 
  }

  .footer-logo, .footer-info {
    flex: 1; 
  }

  .footer-logo img {
    margin-bottom: 0; 
    width: 30vw;
  }
  .footer-info {
    padding-left: 15rem;
  }
}
